.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  margin-top: 130;
}
/* Shared Style */
.normal-button {
  color: #0d1321;
  font-weight: 600;
  font-size: 20px;
}
.text-center {
  text-align: center;
}

/* Header Style */
.header {
}

/* Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-title {
  font-size: 28;
  font-weight: bold;
  margin: 50px 150px;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600px;
  margin: 38px 150px;
}
.btn-cv {
  padding: 17px 24px;
  background-color: white;
  padding: 17px 24px;
  border-radius: 8px;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
}

.btn-contact {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 17px 24px;
  background-color: #0d1321;
  padding: 21px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  margin: 32px 377px 0px 377px;
}

/* Banner Styles */

.dev {
  font-size: 48px;
  font-weight: bolder;
  color: #0d1321;
  max-width: 998px;
  max-height: 136px;
  text-align: center;
}
.banner-description {
  font-size: 16px;
  font-weight: normal;
  color: #0d1321;
  max-width: 852px;
  max-height: 52px;
  text-align: center;
  margin: 24px 73px 0px 73px;
}
.banner-content {
  text-align: center;
}
.banner-pic {
  width: 240px;
  height: 240px;
}
.after-nav {
  background-image: url("../assets/Hero-bg.png");
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 221px 45px 221px;
}

.section-full {
  margin: 0px 47px 48px 47px;
}

/* Reason Section Style */

.reason-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.reason {
  margin: 74px 152px 90px 148px;
  padding: 80px 97px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: auto;
  max-height: auto;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
}
.reason-title {
  color: rgba(13, 19, 33, 0.7);
  border: none;
  font-size: 24px;
  font-weight: bold;
}
/* .reason-1-box{
    padding: 0px 0px 32px 0px;} */

.reason-1-div {
  display: flex;
  /* flex: 1; */
  justify-content: space-evenly;
  gap: 98px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  /* margin: 48px 48px 48px 48px; */
  padding: 48px 48px;
}
.reason-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 477px;
  max-height: 219px;
}

.reason-2 {
  display: flex;
  /* flex: 1; */
  align-items: center;
  justify-content: space-evenly;
  gap: 98px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  /* margin: 48px 48px 48px 48px; */
  padding: 48px 48px;
}
.reason-2-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 477px;
  max-height: 219px;
}

.section-title {
  font-size: 32px;
  font-weight: bolder;
}
.section-description {
  font-size: 16px;
  font-weight: normal;
}

.detailed-reason {
  padding: 12px 20px;
  max-width: 115px;
  max-height: 45px;
  /* font-size: 20px; */
}

.g-3 {
  width: 274px;
  height: 240px;
}
.main-reason {
  color: rgba(13, 19, 33, 1);
  font-size: 16px;
}

/* Third Section Style */

.third-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.section-3 {
  text-align: center;
  max-width: 852px;
  max-height: 113px;
}
.video {
  /* background-color: ;
    stroke: rgba(13, 19, 33, 0.2);
    border: 10px;
    border-radius: 20px;
    width: 1140px;
    height: 614px; */
  margin: 74px 152px 90px 148px;
  padding: 32px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  /* max-width: auto;
    max-height: auto; */
  border-radius: 16px;
  stroke: rgba(13, 19, 33, 0.2);
  stroke-opacity: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Third Section Styles */

.target-title {
  font-size: 32px;
  font-weight: bolder;
}

.target-description {
  font-size: 16px;
  font-weight: normal;
}

.targets-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.targets {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 16px;
  /* margin-right: 152px;
  margin-left: 148px; */
  width: 90%;
  /* max-width: 1140px;
    max-height: 460px; */
}

.target-texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 47px;
  padding-right: 47px;
}

.target-1 {
  background-color: rgba(255, 76, 30, 0.05);
  padding: 40px;
  border-radius: 16px;
  max-width: 364px;
  max-height: 299px;
}

.target-2 {
  background-color: rgba(0, 76, 232, 0.05);
  padding: 40px;
  border-radius: 16px;
  max-width: 364px;
  max-height: 299px;
}

.target-3 {
  background-color: rgba(255, 223, 0, 0.05);
  padding: 40px;
  border-radius: 16px;
  max-width: 364px;
  max-height: 299px;
}

.target-learn {
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: bold;
}

/* Support Section */
.support {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 48px 64px;
  background-image: url("../assets/handshake.jpg");
  background-position: center;
  width: 78%;
  height: 313px;
  border-radius: 16px;
  /* margin: 49px 150px 80px 150px; */
  /* margin-left: auto;
        margin-right: auto; */
}
.support-title {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
.support-description {
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  max-width: 606px;
  max-height: 52px;
}
.support-message {
  width: 684px;
  height: 57px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.support-text {
  width: 548px;
  max-height: 57px;
  font-size: 16px;
  font-weight: 600px;
  padding: 19px 215px 19px 20px;
  border-radius: 8px;
  border: none;
  color: rgba(13, 19, 33, 0.4);
  background-color: #ffffff;
}
.submit-support {
  width: 120px;
  height: 57px;
  font-size: 20px;
  font-weight: 600px;
  padding: 17px 20px;
  border-radius: 8px;
  border: none;
  color: #0d1321;
  background-color: #ffffff;
}

/* Footer Style */

footer {
  margin-top: 40px;
  background-color: rgba(13, 19, 33, 0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {

  display: flex;
  width: 72%;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(13, 19, 33, 0.03); */
  /* padding: 32px 150px;
    margin-left: 150px;
    margin-right: 150px; */
}
.footer-img {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.whole-main {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
